@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script:400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');


.body {
    width: 1450px;
}

.nav-two {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
}



.logo {
    text-decoration: none;
    display: inline-block;
    
}

.logo-two {
    color: #c8eee7;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;                                                                                                                                                                                                                                                                       margin-left: 70px;

}

.navi-q {
    color: #c1ede4;
    text-decoration: none;
    display: inline-block;
    margin-left: 825px;


}

.navi-q:hover {
    color: #f38181;
}

.navi-q::after {
    content: '';
    display: block;
    width: 57px;
    height: 3px;
    transform: scaleX(0);
    background-color: #f38181;
    transition: all 0.2s;
    
}

.navi-q:hover::after {
    transform: scaleX(1);
}

.navi-w:hover {
   color: #f38181;
}



.navi-w {
    color: #c1ede4;
    text-decoration: none;
    display: inline-block;
    
}

.navi-w::after {
    content: '';
    display: block;
    width: 64px;
    height: 3px;
    transform: scaleX(0);
    background-color: #f38181;
    transition: all 0.2s;
}

.navi-w:hover::after {
    transform: scaleX(1);
}

.navi-e:hover {
    color: #f38181;
 }
 

.navi-e {
    color: #c1ede4;
    text-decoration: none;
    display: inline-block;

}

.navi-e::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    transform: scaleX(0);
    background-color: #f38181;
    transition: all 0.2s;
}

.navi-e:hover::after {
    transform: scaleX(1);
}

.navi-r {
    color: #c1ede4;
    text-decoration: none;
    display: inline-block;

}

.navi-r:hover {
    color: #f38181;
 }
 


.navi-r::after {
    content: '';
    display: block;
    width: 46px;
    height: 3px;
    transform: scaleX(0);
    background-color: #f38181;
    transition: all 0.2s;
}

.navi-r:hover::after {
    transform: scaleX(1);
}

.navi-t {
    color: #c1ede4;
    text-decoration: none;
    display: inline-block;

}

.navi-t:hover {
    color: #f38181;
 }
 

.navi-t::after {
    content: '';
    display: block;
    width: 72px;
    height: 3px;
    transform: scaleX(0);
    background-color: #f38181;
    transition: all 0.2s;
}

.navi-t:hover::after {
    transform: scaleX(1);
}

.h-first {
    font-family: 'Kaushan Script', cursive;
.                                                                                                                                                                                                                                                                 margin-right: 1200px;
    

}

.h-combo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 1450px;
    height: 30px;
    font-size: 20px;
 .                                                                                                                                                                                                                             margin-right: 700px;
}

.h-combo-r {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 1450px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
 .                                                                                                                                                                                                                                    margin-right: 700px;
    

}

.h-combor {
    text-decoration: none;
    display: inline-block;
    
}

.h-combor::after {
    content: '';
    display: block;
    width: 64px;
    height: 3px;
    transform: scaleX(0);
    background-color: #f38181;
    transition: all 0s;
    margin-top: 50px;
}

.h-combor:hover::after {
    transform: scaleX(1);
                                                                                                                                                                                                margin-left: 700px;
}


.h-aq {
        margin-top: -40px;  
        color: #7a7a7a; 
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;                                                                                                                                                                                            margin-left: 60px;
}

.p-aq {
        margin-top: -0px; 
        color: #b6b6b6;                                                                                                                                                                                                                margin-left: 60px;                                                                         
}


.h-bw {
    margin-top: -40px;  
    color: #7a7a7a; 
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;                                                                                                                                                                                            margin-left: 60px;
}

.p-bw {
    margin-top: -0px; 
    color: #b6b6b6;                                                                                                                                                                                                                margin-left: 60px;                                                                         
}

.h-ce {
    margin-top: -40px;  
    color: #7a7a7a; 
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;                                                                                                                                                                                            margin-left: 60px;
}

.p-ce {
    margin-top: -0px; 
    color: #b6b6b6;                                                                                                                                                                                                                margin-left: 60px;                                                                         
}

.icons {
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-direction: row;
     margin-top: 50px;
}

.ic-aq {
    margin-top: 100px;
}

.ic-bw {
    margin-top: 50px;
}

.ic-ce {
    margin-top: 50px;
}

.h-first-r {
    font-family: 'Montserrat', sans-serif;
,                                                                                                                                                                                                                                   margin-right: 1200px;
}

.icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.h-secondr {
    font-family: 'Kaushan Script', cursive;
    margin-top: 40px;
.                                                                                                                                                                                                                                                                 margin-right: 1200px;
    

}

.h-second {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 1450px;
    height: 30px;
    font-size: 20px;
 .                                                                                                                                                                                                                             margin-right: 700px;
}

.h-second-r {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 1450px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
 .                                                                                                                                                                                                                                    margin-right: 700px;
    

}

.h-seconder {
    text-decoration: none;
    display: inline-block;
    
}

.h-seconder::after {
    content: '';
    display: block;
    width: 64px;
    height: 3px;
    transform: scaleX(0);
    background-color: #f38181;
    transition: all 0s;
    margin-top: 50px;
}

.h-seconder:hover::after {
    transform: scaleX(1);
                                                                                                                                                                                margin-left: 700px;
}

.h-secondr-f {
    margin-bottom: 40px;
}

.lorem-a {
    color: #c2c2c2;
    margin-left: 300px;
    margin-top: 50px;
}

.lorem-b {
    margin-left: 250px;
    margin-top: -20px;
}
