@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap');


.body {
    width: 1200px;
}

html {
    width: 1200px;
}

.min-content-A {
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 300px;
}

.one-block {
    display: inline-block;
    width: 420px;
}

.two-block {
    display: inline-block;
    width: 420px;
}

.img-one {
    width: 421px;
    height: 300px;
    margin-bottom: 32px;

}

.img-two {
    width: 421px;
    height: 300px;
    margin-bottom: 32px;

}




.min-content-B {
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 140px;
    margin-left: 300px;
}

.three-block {
    display: inline-block;
    width: 421px;
}

.four-block {
    display: inline-block;
    width: 421px;
}

.img-three {
    width: 421px;
    height: 300px;
    margin-bottom: 32px;


}

.img-four {
    width: 421px;
    height: 300px;
    margin-bottom: 32px;

}


.btn-a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 900px;
    margin-left: 300px;
}


.btn-b {
 
   margin-top: 55px;
   border: solid 1px black;
   padding: 20 35;
   width: 165px; 
   height: 60px;
   background-color: white;
   font-size: 16px;
   font-family: 'Playfair Display', serif;

}


.nav {
    width: 900px;
    display: inline-block;
    margin-bottom: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-left: 300px;
    
}

.nav-life {
    display: inline-block;

}

.nav-photo {
    display: inline-block;
}

.nav-music {
    display: inline-block;
}

.nav-travel {
    display: inline-block;

}

a {
    text-decoration: none;
    color: #7d7d7d;
    font-family: 'Playfair Display', serif;

}

a:hover {
    color: #03a9f4;
    text-decoration: none;
    font-family: 'Playfair Display', serif;

}

h3 {
    font-size: 26px;
    margin-bottom: -5px;
    color: #626262;
}

p {
    margin-top: 42px;
    color: #626262;
    font-size: 16px;
}

span {
    color: #c8c3b9;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
}
