@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap');


.body {
    width: 1400px;
}

.L-block-A {
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.S-one {
    display: inline-block;
    margin-right: 200px;
    width: 421px;
    margin-left: 200px;
}

.S-two {
    display: inline-block;
    width: 421px;
    margin-left: 60px;
}

.img-q {
    width: 421px;
    height: 300px;
    margin-bottom: 32px;

}

.img-w {
    width: 421px;
    height: 300px;
    margin-bottom: 32px;

}




.L-block-B {
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 140px;
}

.S-three {
    display: inline-block;
    margin-right: 200px;
    width: 421px;
    margin-left: 200px;
}

.S-four {
    display: inline-block;
    width: 421px;
    margin-left: 60px;
}

.img-e {
    width: 421px;
    height: 300px;
    margin-bottom: 32px;


}

.img-r {
    width: 421px;
    height: 300px;
    margin-bottom: 32px;

}


.btn {
 
   margin-top: 55px;
   border: solid 1px black;
   padding: 20 35;
   width: 165px; 
   height: 60px;
   background-color: white;
   margin-left: 670px;
   font-size: 16px;
   font-family: 'Playfair Display', serif;
}


nav {
    width: 1400px;
    display: inline-block;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 40px;
}

.nav-a {
    display: inline-block;
    margin-left: 220px;

}

.nav-b {
    display: inline-block;
    margin-left: 220px;
}

.nav-c {
    display: inline-block;
    margin-left: 220px;
}

.nav-d {
    display: inline-block;
    margin-left: 220px;

}

a {
    text-decoration: none;
    color: #7d7d7d;
    font-family: 'Playfair Display', serif;

}

a:hover {
    color: #03a9f4;
    text-decoration: none;
    font-family: 'Playfair Display', serif;

}

h3 {
    font-size: 26px;
    margin-bottom: -5px;
    color: #626262;
}

p {
    margin-top: 42px;
    color: #626262;
    font-size: 16px;
}

span {
    color: #c8c3b9;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
}